.contact {
    
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    margin-top: 30px;
}

.contact::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .3);
    width: 100%;
    height: 100%;
    z-index: 1;
}

.contact .container {
    position: relative;
    z-index: 10;
    color: #FFF;
}

.contact .container h2 {
    text-align: center;
    font-weight: 800;
    color: #FFF;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.contact .container .form-group {
    position: relative;
    width: 100%;
    height: 50px;
    background: transparent;
}

.contact .container .form-group.text-area {
    height: 100px;
}

.contact .container .form-group textarea {
    resize: none;
}

.contact .container .form-group input, .contact .container .form-group textarea {
    position: absolute;
    left: 0;
    top: 0;
    background: none;
    border: 1px solid #FFF;
    width: 100%;
    height: 100%;
    outline: none;
    color: #FFF;
    padding: 10px;
    transition: .3s;
}

.contact .container .form-group input:focus, .contact .container .form-group textarea:focus, .contact .container .form-group input:valid, .contact .container .form-group textarea:valid {
    border-color: var(--primary-color);
}

.contact .container .content {
    width: 100%;
}

.contact .container .content ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.contact .container .content ul li {
    background: #f1f1f1;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 20px;
}

.contact .container .content ul li a {
    font-size: 1rem;
    color: #111;
    text-decoration: none;
    transition: .3s;
}

.contact .container .content ul li a:hover {
    color: var(--primary-color);
}

.contact .container .content ul li a i {
    font-size: 1.3rem;
    margin-right: .5rem;
}

footer {
    background-color: #222;
}

footer .footer .footer-social ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

footer .footer .footer-social ul li {
    margin: 0 .5rem;
    display: inline-block;
}

footer .footer .footer-social ul li a {
    color: #FFF;
    border: 1px solid;
    width: 60px;
    height: 60px;
    position: relative;
    border-radius: 50%;
    display: block;
    font-size: 1.3rem;
    transition: .3s;
}

footer .footer .footer-social ul li a:hover {
    color: var(--primary-color);
}

footer .footer .footer-social ul li a i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

footer .footer .divider {
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
}

footer .footer .footer-bottom {
    color: #FFF;
    text-align: center;
    font-size: 1rem;
}


@media (max-width: 992px) {
    .navbar-collapse {
        background-color: rgba(0, 0, 0, .5);
        padding: 10px;
    }
}

@media (max-width: 768px) {
    .about .col-md-4 {
        margin-bottom: 20px;
        text-align: center;
    }
    .about .col-md-4 img {
        width: 50%;
    }
    .about .content {
        text-align: center;
    }
    .about .content h2 {
        font-size: 1.5rem;
    }
    .testimonials .testimonials-single {
        margin-bottom: 20px;
    }
    .services .content .single-service {
        margin-bottom: 20px;
    }
}